.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.commentListContainer {
  list-style-type: none;
  max-width: 800px;
}

.commentsContainer {
  display: flex;
  flex-direction: row;
}

.userprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 40px;
  margin-top: 8px;
}

.commentNameContainer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: flex-start;
}

.commentNameDetailConatainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.commentDate {
  margin-left: 10px;
  color: grey;
}

.commentFunctionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButtonTrue {
  color: blue;
}

.likeButton {
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: transparent;
}
